<div class="container">
    <div class="cvt-card">
        <div class="cvt-content">
            <h4>CVT</h4>
            <p>model:3x1.5</p>
            <p>available: <span>200m</span></p>
        </div>
        <div class="cvt-btn">
            <a href="">Add</a>
            <a href="">Get</a>
        </div>

    </div>
    <div class="cvt-card">
        <div class="cvt-content">
            <h4>CVT</h4>
            <p>model:3x2.5</p>
            <p>available: <span>100m</span></p>
        </div>
        <div class="cvt-btn">
            <a href="">Add</a>
            <a href="">Get</a>
        </div>
    </div>
    <div class="cvt-card">
        <div class="cvt-content">
            <h4>CVT</h4>
            <p>model:3x4</p>
            <p>available: <span>300m</span></p>
        </div>
        <div class="cvt-btn">
            <a href="">Add</a>
            <a href="">Get</a>
        </div>
    </div>
    <div class="cvt-card">
        <div class="cvt-content">
            <h4>CVT</h4>
            <p>model:3x6</p>
            <p>available: <span>50m</span></p>
        </div>
        <div class="cvt-btn">
            <a href="">Add</a>
            <a href="">Get</a>
        </div>
    </div>
    
        <a class="back" routerLink="/warehouse/cable">Back</a>
    
</div>
