.container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.cvt-card{
    flex: 1 1 20%;

    background:rgb(99 163 204 / 53%);
}

.cvt-card a{
    display: inline-block;
    padding: 5px 10px;
    background: rgba(50, 125, 196, 1);
    color: #FFF;
    border-radius: 15px;
    text-decoration: none;
    font-size: 11px;
    line-height: 1;
    border: 1px solid rgba(50, 60, 196, 1);
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.5);
}

.cvt-card{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.cvt-btn{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cvt-content span{
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
}
