<div class="container">
    <div class="cards-list">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1625276254563-f0fbbf66a5e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                alt="Cable">
            <div class="content">
                <h3>Cable</h3>
                <a href="#">READ MORE</a>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1581783898377-1c85bf937427?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=415&q=80"
                alt="Tools">
            <div class="content">
                <h3>Tools</h3>
                <a href="#">READ MORE</a>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1607723619497-98a79f01ba90?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1382&q=80"
                alt="Object">
            <div class="content">
                <h3>Per objects</h3>
                <a href="#">READ MORE</a>
            </div>
        </div>
    </div>
</div>
