<div class="container-register"> 
    <div class="site-register">
       
            <form action="">
                <div class="form-register">
                    <h2>Registration Form</h2>
                    
                    <label for="username">Username</label>
                    <input type="text">
                        
                    <label for="email">Email</label>
                    <input type="email">

                    <label for="password">Password</label>
                    <input type="password">

                    <label for="confirm-password">Confirm Password</label>
                    <input type="password">
        
                    <span class="submit">
                        <a href="#">Register Now</a>
                    </span>

                </div>
            </form>
        
    </div>
</div>
