
.site-header{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background: #e9f3f8;
    flex-wrap: wrap;
}

.site-header ul{
    display: flex;
    gap: 2em;
    margin-top: 10px;
    flex-wrap: wrap;
}

.site-header ul li{
    display: block;
}

.site-header a{
    display: block;
    text-decoration: none;
    padding: 4px 8px;
    background:#5dadff;
    color: white;
    border-radius: 7px;
}


