<div class="site">
    <header class="site-header">

        <div class="box-header">
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/warehouse">Warehouse</a></li>
                <li><a href="">Search</a></li>
            </ul>
        </div>

        <div class="box-header">
            <ul>
                
                <ng-container *ngIf="!isLoggedIn">
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
                </ng-container>
                <ng-container *ngIf="isLoggedIn">
                <li><a href="">{{username}}' profile</a></li>
                <li (click)="logout()"><a href="">Logout</a></li>
                </ng-container>
                
            </ul>
        </div>
    </header>
</div>