<div class="site">
    <header class="site-header">

        <div class="box-header">
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/warehouse">Warehouse</a></li>
                <li><a href="">Search</a></li>
            </ul>
        </div>

        <div class="box-header">
            <ul>
                <li><a href="">UserName</a></li>
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </div>
    </header>
</div>