<div class="container-login"> 
    <div class="site-login">  
            <form action="">
                <div class="form-login">
                    <h2>Login Form</h2>
                    
                    <label for="email">Email</label>
                    <input type="email">

                    <label for="password">Password</label>
                    <input type="password">

                    <span class="submit">
                        <a href="#">Register Now</a>
                    </span>
                </div>
            </form> 
    </div>
</div>
