.container-login{
    display: flex;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    background-image: url(https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=852&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center -16em; */
    padding: 4em;
    border-radius: 2em;
}

.site-login{
    width: 100%;
    height: 100%;      
}

  .form-login{   
    max-width: 300px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.form-login h2{
    text-align: center;
}

.form-login input{
    padding:  0.8em 1.6em;
    border-radius: 2em;
}

.submit a{
    text-decoration: none;
    background: rgba(174, 60, 51, 1);
    padding: 0.5em 1em;
    border-radius: 1em;
    color: white;
}

.submit{
    margin: 0 auto;
    margin-top: 2em;
}

.error{
    color: red;
}